html {
  --cyan-600: #4D96A9;
  --cyan-300: #8FE3F9;
  --purple-600: #855FB1;
  --purple-300: #D9B8FF;
  --slate-900: #28283D;
  --slate-600: #87879D;
  --slate-300: #D1D1DF;
}

/* 1. Use a more-intuitive box-sizing model */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
* {
  margin: 0;
}

/* 3. Enable keyword animations */
@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  /* 4. Add accessible line-height */
  line-height: 1.5;
  /* 5. Improve text rendering */
  -webkit-font-smoothing: antialiased;
}

/* 6. Improve media defaults */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/* 7. Inherit fonts for form controls */
input,
button,
textarea,
select {
  font: inherit;
}

/* 8. Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* 9. Improve line wrapping */
p {
  text-wrap: pretty;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

/*
  10. Create a root stacking context
*/
#root,
#__next {
  isolation: isolate;
}

body {
  font-family: "Red Hat Display";
  padding: 48px 32px 0 32px;
  text-align: center;
}

button {
  border-radius: 1.8125rem;
  font-size: 1rem;
  line-height: 150%;
  padding: 16px 40px;
  color: white;
  background-color: #4D96A9;
  border: none;
  font-weight: 900;
}

header {}

.logo {
  margin-inline: auto;
}

.hero-img {
  margin-top: 64px;
  margin-bottom: 48px;
  display: flex;
  justify-content: center;
  margin-left: -80px;
}

h1 {
  font-size: 2.5rem;
  font-weight: 900;
  line-height: 110%;
  color: var(--slate-900);
}

p {
  color: var(--slate-600);
  font-size: 1rem;
  font-weight: 500;
  line-height: 150%;
}

header p {
  margin-block: 24px;
}

.btn-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 32px;
  gap: 16px;
}

header button:nth-of-type(1) span {
  color: var(--cyan-300);
}

header button:nth-of-type(2) {
  background-color: var(--purple-600);
}

section:first-of-type {
  padding-top: 32px;
  padding-bottom: 64px;
}

.vl {
  border-left: 1px solid var(--slate-300);
  height: 80px;
  position: relative;
  left: 50%;
  width: min-content;
}

.second-vl {
  position: absolute;

}

section .counter {
  color: var(--slate-600);
  font-size: 1rem;
  line-height: 150%;
  font-weight: 900;
  padding: 16px 19px;
  border-radius: 50%;
  border: 2px solid var(--slate-300);
  width: min-content;
  margin-inline: auto;
}

.second-counter {
  transform: translateY(-50%);
  background-color: white;
}

.images-container {
  margin-block: 64px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 16px;
}

@media (min-width: 768px) {
  .btn-container {
    flex-direction: row;
  }

  .images-container {
    grid-template-columns: repeat(4, 1fr);
  }
}

h3 {
  color: var(--cyan-600);
  font-size: .75rem;
  font-weight: 900;
  line-height: 110%;
}

h2 {
  color: var(--slate-900);
  font-size: 2rem;
  font-weight: 900;
  line-height: 110%;
  margin: 16px 0 32px 0;
}

section:nth-of-type(2) {
  position: relative;
  margin-left: -32px;
  margin-right: -32px;
  padding: 0 32px 64px 32px;

  h2 {
    color: white;
  }

  p {
    color: white;
  }

  button {
    color: white;
  }
}

picture {
  position: absolute;
  inset: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
}